.formRow {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.fullWidth {
  width: 800px;
}

.inlineField {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  margin-bottom: 5px;
}

.fieldContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.actionItem {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 5px;
}

.paginationButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress {
  background-color: #ffc107;
}

.progress:hover {
  background-color: #e0a800;
}

.canceled {
  background-color: #dc3545;
}

.canceled:hover {
  background-color: #c82333;
}
