.container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
  padding: 1.5rem;
  min-width: 800px;
  max-width: 1000px;
  margin: 30px auto;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.input {
  width: 400px;
}
